{%  extends "base.html" %}
{% block content %}
<div>
    <h3>{{pet.name|capfirst}}</h3>
    <p>{{pet.species}}</p>
    {% if pet.breed  %}
        <p>{{pet.breed}}</p>
    {% endif %}
    {% if pet.sex  %}
        <p>{{pet.sex}}</p>
    {% endif %}
    {% if pet.age  %}
        <p>{{pet.age}}</p>
    {% endif %}

    {% if pet.vaccination.all  %}
    <ul>
        <p>Vaccinations:</p>
        {% for vaccination in pet.vaccination.all %}
        <li>{{vaccination.name}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <p>Submited By:{{pet.submitter}}</p>
    <p>Submision Date:{{pet.submission_date|date:"M d Y"}}</p>
    <p>{{pet.description}}</p>
</div>
{% endblock %}